body { margin: 0 auto; border: none; }

#ipad-frame {
  display: block;
  background: url("images/ipad-container-small.png") no-repeat;
  width: 763px;
  height: 573px;
  margin: 25px auto 0;
  padding: 84px 125px 139px 94px;
  border: none;
}

#hide-overflow {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

#app, #oldApp {
  width: 763px;
  height: 573px;
  border: none;
  position: absolute;
  -webkit-transition: left .5s ease;
}

/* Questions Screen Styles */

#screen-2 {
  display: block;
  width: 763px;
  height: 573px;
  background: url(images/shrek-bg.jpg) no-repeat top left;
  border: none;
}

#spy-nav {
  position: absolute;
  display: block;
  width: 763px;
  height: 81px;
  background: url(images/shrek-nav-bg.png) no-repeat top left;
  bottom: 0;
  left: 1px;
}

#spy-nav a#playing-link-home {
  display: block;
  width: 53px;
  height: 37px;
  background: url(images/shrek-home.png) no-repeat top left;
  position: relative;
  top: 18px;
  left: 53px;
  text-indent: -9999em;
}

#spy-nav a#playing-link-home:hover { background-position: bottom left; }

#spy-nav a#playing-link-pause, #spy-nav a#playing-link-play {
  display: block;
  width: 43px;
  height: 36px;
  background: url(images/shrek-play.png) no-repeat top left;
  position: absolute;
  top: 18px;
  left: 112px;
  text-indent: -9999em;
}

#spy-nav a#playing-link-play { width: 36px;}

#spy-nav a#playing-link-pause:hover { background-position: bottom left;}

#spy-nav a#playing-link-play { left: 154px; background-position: top right; }

#spy-nav a#playing-link-play:hover { background-position: bottom right;}

#screen-2 #playing-points {
  display: block;
  width: 86px;
  height: 47px;
  background: url(images/spy-points.png) no-repeat top left;
  position: absolute;
  top: 26px;
  right: 37px;
  text-indent: -9999em;
}

#playing-title h1 {
  display: block;
  width: 460px;
  position: absolute;
  left: 181px;
  top: 23px;
  text-align: center;
  font: normal bold 15px "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
}

ul#playing-progress { position: absolute; left: 330px; bottom: 12px;}

ul#playing-progress li {
	float: left;
	display: block;
	width: 8px;
	height: 8px;
	background: url(images/shrek-bullet.png) no-repeat top left;
	margin-right: 8px;
}

#challenge-1 {
	display: block;
	width: 379px;
	height: 384px;
	background: url(images/shrek-question-bg.png) no-repeat top left;
	position: absolute;
	top:0;
	right:0;
}

/* Dashboard Style */

#dashboard {
	display: block;
	width:763px;
	height: 753px;
	background: url(images/spy-dashboard.jpg) no-repeat top left;
}

#dashboard h1 {
	display: block;
	height:0;
	margin: 0;
	padding: 0;
	text-indent: -9999em;
}